* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.login-container {
  height: 100vh;
  /* background: ; */
  display: flex;
  justify-content: center;
  align-items: center;
    background-image: url("C:/Users/jayas/OneDrive/Desktop/websiteadmin/websiteadmin/public/download (1).jpg");
      background-repeat: no-repeat;
  background-size: cover; 


}

.login-card {
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-group input:focus {
  outline: none;
  border-color: #4facfe;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #4facfe;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #00c6fb;
}

.forgot-password {
  text-align: center;
  margin-top: 15px;
  color: #555;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
